/* 
    Document   : global
    Created on : Dec 15, 2011, 2:50:42 PM
    Author     : Dan Albert
    Description:
        Defines site wide styles
*/

*
{
	padding: 0;
	margin: 0;
}

ul li
{
	list-style-position:inside;
}

div#container
{
	margin: 10px auto;
	width: 800px;
}

div#content
{
	padding: 8px;
}

div.date-picker
{
	font-weight: bold;	
	margin: 10px auto;
	width: 260px;
	text-align: center;
}

div.date-picker a
{
	font-weight: bold;
	text-decoration: none;	
}

table tbody tr.odd
{
	background-color: #e0e0e0;
}

table tbody tr.faded
{
	color: #c0c0c0;
}

table tbody tr.odd.faded
{
	color: #b0b0b0;	
}

table.calendar
{
	width: 100%;
}

table.calendar td
{
	border: 1px solid black;
	text-align: center;
}

table.calendar tbody td
{
	width: 64px;
	height: 64px;
}

table.calendar tbody td.no-shifts
{
	background-color: #df1f38;
}

table.calendar tbody td.consultant-works
{
	background-color: #ffad01;
}

table.calendar tbody td a
{
	color: #202020;
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	line-height: 64px;
}

table.calendar tbody td a:hover
{
	background-color: #c0c0ff;
}

table.roster
{
	width: 100%;
}

table.roster thead tr td
{
	font-weight: bold;
}

table.schedule
{
	width: 100%;
}

table.schedule thead tr td
{
	font-weight: bold;
}

table.schedule tbody tr td
{
	width: 200px;
}

table.schedule tbody tr td:first-child
{
	width: 100px;
}

table.schedule tbody tr td.no-shift
{
}

table.week-schedule tbody tr
{
	height: 100px;
}

table.available-shifts
{
	width: 100%;
}

table.available-shifts tr.date td
{
	padding-top: 16px;
	font-weight: bold;
}

table.available-shifts tr td.spacer
{
	width: 30px;
}

table.available-shifts tr td.time
{
	width: 100px;
}

table.available-shifts tr td.location
{
	width: 100px;
}

table.available-shifts tr td.message
{
	width: 200px;
}

table.available-shifts tr td.message strong,
table.available-shifts tr td.message strong a
{
	color: #bd1628;
}

table.available-shifts tr td a:hover
{
	text-decoration: none;
}

table.available-shifts tr td.message em,
table.available-shifts tr td.message em a
{
	color: #2175b5;
	font-style: normal;
	font-weight: bold;
}

table.available-shifts tr td.action
{
	width: 200px;
}

table.available-shifts tr td.action a
{
	color: #837584;
	font-weight: bold;
}

table.available-shifts tr td a:hover
{
	text-decoration: none;
}
