/* 
    Document   : global
    Created on : Dec 15, 2011, 2:50:42 PM
    Author     : Dan Albert
    Description:
        Defines site wide styles
*/

*
{
	padding: 0;
	margin: 0;
}

div#container
{
	margin: 10px auto;
	width: 800px;
}

div.date-picker
{
	font-weight: bold;	
	margin: 10px auto;
	width: 240px;
}

div.date-picker a
{
	font-weight: bold;
	text-decoration: none;	
}

table.calendar
{
	width: 100%;
}

table.calendar td
{
	border: 1px solid black;
	text-align: center;
}

table.calendar tbody td
{
	width: 64px;
	height: 64px;
	vertical-align: center;
}

table.calendar tbody td a
{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

table.calendar tbody td a:hover
{
	background-color: #c0c0ff;
}

table.schedule
{
	width: 800px;
}

table.schedule thead tr td
{
	font-weight: bold;
}

table.schedule tbody tr.odd
{
	background-color: #f0f0f0;
}

table.schedule tbody tr td
{
	width: 200px;
}

table.schedule tbody tr td:first-child
{
	width: 100px;
}

table.schedule tbody tr td.no-shift
{
}
